{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}}{% endblock %}




{% block content %}


    <div class="container">
        <h1>{{ symbol }} - {{ stocks.name }}</h1>
        <br>
        <table class="table table-light table-hover table-borderless">
            <tr>
                <th scope="col">Breakdown</th>
                {% for income in annual_income_statement_fmt %}
                    <th scope="col">{{ income.endDate }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Revenue</span>
                </th>
                {% for income in annual_income_statement_longfmt%}
                    <td>
                        <span>{{ income.totalRevenue }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Gross Profit</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.grossProfit }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Operating Expenses</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.totalOperatingExpenses  }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Operating Income</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.operatingIncome }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Net Income</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncome %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncome }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Pre Tax Income</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.incomeBeforeTax %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.incomeBeforeTax }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}