{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} - Income Statement{% endblock %}




{% block content %}


    <div class="container">
        <h1>{{ symbol }} - {{ stocks.name }}</h1>
        <br>
        <table class="table table-light table-hover table-borderless table-striped">
            <tr>
                <th scope="col">Breakdown</th>
                {% for income in annual_income_statement_fmt %}
                    <th scope="col">{{ income.endDate }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Revenue</span>
                </th>
                {% for income in annual_income_statement_longfmt%}
                    <td>
                        <span>{{ income.totalRevenue }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Gross Profit</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.grossProfit }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Operating Expenses</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.totalOperatingExpenses  }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Operating Income</th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.operatingIncome }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Net Income</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncome %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncome }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Pre Tax Income</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.incomeBeforeTax %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.incomeBeforeTax }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Tax Provision</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.incomeTaxExpense %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.incomeTaxExpense }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">EBIT</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.ebit %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.ebit }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Net Income from Continuing Ops</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncomeFromContinuingOps %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncomeFromContinuingOps }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Total Other Income Expense Net</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.totalOtherIncomeExpenseNet %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.totalOtherIncomeExpenseNet }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Net Income Applicable To Common Shares</th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncomeApplicableToCommonShares %}
                        <td>Nan</td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncomeApplicableToCommonShares }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}