{% load static %}
<link rel="stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
{% include 'home/nav/stock_nav.html'%}
<section id="top-crypto">

    {% if message_error %}
        <br>
        <div class="container alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ symbol }}</strong> {{ message_error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}
    <div class="container-fluid">
        <div class="row mt-3 justify-content-center">

            <div class="col-sm-3 col-xs-12 py-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Stock Advisor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Powered by Yahoo API</h6>
                        <p class="card-text">Quickly grab pertinent information about a stock trading pair without the hassle
                            of logging into an account on an exchange.</p>
                        <a href="https://www.binance.us/en/home" class="card-link">Yahoo finance (US)</a>
                        <a href="https://support.binance.us/hc/en-us/categories/360003671074-Announcements" class="card-link">News</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12 py-3">

                <div class="card text-center">
                    <div class="card-header">{% if not message_error %}{{symbol}}{% endif %}</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table  class="table table-hover table-sm">
                                <tr>
{#                                    <th class="lead-3">Buyers</th>#}
{#                                    <th>Sellers</th>#}
                                    <th>Market Cap</th>
                                </tr>

                                <tr>
{#                                    <th>{{buyers}}</th>#}
{#                                    <th>{{sellers}}</th>#}
{#                                    <th>{{ data.peRatio }}</th>#}
                                    <th>{{ price_dict.marketCap.fmt }}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12 py-3">
                <div class="card text-center">
                    <div class="card-header">{% if not message_error %} {{quote.symbol}} Change {% endif %} </div>
                    <div class="card-body">
                        <h1 class="display-4"> {{price_dict.regularMarketChangePercent.fmt}} </h1>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-12 py-3">
                <div class="card text-center">
                    <div class="card-header">Currency symbol</div>

                    <div class="card-body">

                        <div class="table-responsive">
{##}
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Currency symbol</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        {{ price_dict.currencySymbol }}
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





</section>
