aiohttp==3.7.4.post0
aioredis==1.3.1
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
beautifulsoup4==4.9.3
Brotli==1.0.9
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
channels==3.0.3
channels-redis==3.2.0
chardet==4.0.0
click==7.1.2
cmdstanpy==0.9.5
constantly==15.1.0
convertdate==2.3.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.23
daphne==3.0.1
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dj-database-url==0.5.0
Django==3.1.7
django-crispy-forms==1.11.2
django-extensions==3.1.3
django-heroku==0.3.1
django-plotly-dash==1.6.1
django-redis==4.12.1
dpd-components==0.1.0
ephem==3.7.7.1
fbprophet==0.7.1
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
gevent==21.1.2
graphviz==0.16
greenlet==1.0.0
gunicorn==20.1.0
hijri-converter==2.1.2
hiredis==1.1.0
holidays==0.11.1
hyperlink==21.0.0
idna==2.10
iexfinance==0.5.0
incremental==21.3.0
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
libpython==0.2
LunarCalendar==0.0.9
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
msgpack==1.0.2
multidict==5.1.0
multitasking==0.0.9
newsapi-python==0.2.6
newspaper3k==0.2.8
nltk==3.6.2
numpy==1.20.1
pandas==1.2.3
pandas-datareader==0.9.0
Pillow==8.1.2
plotly==4.14.3
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.2
pydotplus==2.0.2
PyMeeus==0.5.11
pyOpenSSL==20.0.1
pyparsing==2.4.7
pystan==2.17.1.0
python-dateutil==2.8.1
pytimeparse==1.1.8
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
retrying==1.3.3
scikit-learn==0.24.2
scipy==1.6.3
service-identity==18.1.0
setuptools-git==1.2
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
textblob==0.15.3
threadpoolctl==2.1.0
tinysegmenter==0.3
tldextract==3.1.0
tqdm==4.60.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.4
vaderSentiment==3.3.2
websocket==0.2.1
Werkzeug==1.0.1
whitenoise==5.2.0
yarl==1.6.3
yfinance==0.1.59
zope.event==4.5.0
zope.interface==5.2.0
