{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} - Balance Sheet{% endblock %}




{% block content %}

    <div class="container-fluid">
        {% include 'home/nav/stock_nav.html'%}
    </div>
    <div class="container-fluid">
        {% include 'home/nav/financials_nav.html'%}
    </div>
    <div class="container">
        <h1>{{ symbol }} - {{ stock.name }} - Balance Sheet</h1>
        <br>
        <table class="table table-light table-hover table-borderless table-striped">
            <tr>
                <th scope="col">Breakdown</th>
                {% for balance_sheet in annual_balance_sheet_fmt %}
                    <th scope="col">{{ balance_sheet.endDate }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Assets</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt%}
                    <td>
                        <span>{{ balance_sheet.totalAssets }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Current Assets</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.totalCurrentAssets %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.totalCurrentAssets }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Cash, Cash Equivalents</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    <td>
                        <span>{{ balance_sheet.cash }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>inventory</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    <td>
                        <span>{{ balance_sheet.inventory  }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Change To Inventory</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.otherCurrentAssets %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.otherCurrentAssets }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>GoodWill</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.goodWill %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.goodWill }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Long Term Investments</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.longTermInvestments %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.longTermInvestments }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>other Cashflows From Financing</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.otherCashflowsFromFinancingActivities %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.otherCashflowsFromFinancingActivities }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
            <tr>
                <th scope="row">
                    <span>Total Cashflows From Financing</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.totalCashFromFinancingActivities %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.totalCashFromFinancingActivities }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>other Cashflows From Investing</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.otherCashflowsFromInvestingActivities %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.otherCashflowsFromInvestingActivities }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>total Cashflows From Investing</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.totalCashflowsFromInvestingActivities %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.totalCashflowsFromInvestingActivities }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>change To Account Receivables</span>
                </th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.changeToAccountReceivables %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.changeToAccountReceivables }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row"><span>investments</span></th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.investments %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.investments }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row"><span>change In Cash</span></th>
                {% for balance_sheet in annual_balance_sheet_longfmt %}
                    {% if not balance_sheet.changeInCash %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ balance_sheet.changeInCash }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}