{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} - Cash Flow{% endblock %}




{% block content %}

    <div>
        {% include 'home/nav/stock_nav.html'%}
    </div>
    <div class="container-fluid">
        {% include 'home/nav/financials_nav.html'%}
    </div>
    <div class="container">
        <h1>{{ symbol }} - {{ stocks.name }} - Cash Flow</h1>
        <br>
        <table class="table table-light table-hover table-borderless table-striped">
            <tr>
                <th scope="col">Breakdown</th>
                {% for cash_flow in annual_cash_flow_fmt %}
                    <th scope="col">{{ cash_flow.endDate }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Operating Cash Flow</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt%}
                    <td>
                        <span>{{ cash_flow.totalCashFromOperatingActivities }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Net Income from Continuing Ops</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.netIncome %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.netIncome }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Depreciation Amortization Depletion</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    <td>
                        <span>{{ cash_flow.depreciation }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Capital Expenditures</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    <td>
                        <span>{{ cash_flow.capitalExpenditures  }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Operating Income</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    <td>
                        <span>{{ cash_flow.operatingIncome }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Net Income</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.netIncome %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.netIncome }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Pre Tax Income</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.incomeBeforeTax %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.incomeBeforeTax }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Tax Provision</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.incomeTaxExpense %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.incomeTaxExpense }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>EBIT</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.ebit %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.ebit }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Net Income from Continuing Ops</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.netIncomeFromContinuingOps %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.netIncomeFromContinuingOps }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Other Income Expense Net</span>
                </th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.totalOtherIncomeExpenseNet %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.totalOtherIncomeExpenseNet }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row"><span>Net Income Applicable To Common Shares</span></th>
                {% for cash_flow in annual_cash_flow_longfmt %}
                    {% if not cash_flow.netIncomeApplicableToCommonShares %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ cash_flow.netIncomeApplicableToCommonShares }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}