{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} - Income Statement{% endblock %}




{% block content %}
    <div class="container-fluid">
        {% include 'home/nav/stock_nav.html'%}
    </div>
    <div class="container-fluid">
        {% include 'home/nav/financials_nav.html'%}
    </div>
    <div class="container">

        <h1>{{ symbol }} - {{ stocks.name }} - Income Statements</h1>
        <br>
        <table class="table table-light table-hover table-borderless table-striped">
            <tr>
                <th scope="col">Breakdown</th>
                {% for income in annual_income_statement_fmt %}
                    <th scope="col">{{ income.endDate }}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Revenue</span>
                </th>
                {% for income in annual_income_statement_longfmt%}
                    <td>
                        <span>{{ income.totalRevenue }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Gross Profit</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.grossProfit }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Operating Expenses</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.totalOperatingExpenses  }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Operating Income</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    <td>
                        <span>{{ income.operatingIncome }}</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Net Income</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncome %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncome }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Pre Tax Income</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.incomeBeforeTax %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.incomeBeforeTax }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Tax Provision</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.incomeTaxExpense %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.incomeTaxExpense }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>EBIT</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.ebit %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.ebit }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Net Income from Continuing Ops</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncomeFromContinuingOps %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncomeFromContinuingOps }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">
                    <span>Total Other Income Expense Net</span>
                </th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.totalOtherIncomeExpenseNet %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.totalOtherIncomeExpenseNet }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row"><span>Net Income Applicable To Common Shares</span></th>
                {% for income in annual_income_statement_longfmt %}
                    {% if not income.netIncomeApplicableToCommonShares %}
                        <td><span>Nan</span></td>
                    {% else %}
                        <td>
                            <span>{{ income.netIncomeApplicableToCommonShares }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}