{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} {{stock_data.high}}{% endblock %}




{% block content %}
    <div class="container-fluid">
        {% include 'home/nav/stock_nav.html'%}
    </div>

{#    {% include 'home/topstock.html'%}#}
    <style>
        .light_blue{
            background-color: #c7d6ff;
        }
    </style>

    <div class="container-fluid">
        {% if message_error %}
            <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ symbol }}</strong> {{ message_error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% else %}
            <div class="row mt-5 mb-5 justify-content-center">
                <div class="col-sm-3 col-md-3 col-xs-12 py-5">
                    <div class="card">
                        <div class="card-header"> Stock Spot Quote</div>
                        <div class="card-body">


                            <hr>

                                <div class="alert  text-center light_blue" role="alert">
                                    <span>{{data.symbol}} @ {{data.companyName}} </span>
                                </div>
                            <hr>

                            <ul class="list-group">
                                <li class="list-group-item light_blue"><bold>Quick Info</bold></li>
                                <li class="list-group-item light_blue">High: {{data.previousClose}} </li>
                                <li class="list-group-item light_blue">Low: {{data.previousClose}}</li>
                                <li class="list-group-item light_blue">Volume: {{data.previousVolume}} </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 col-md-9 col-xs-12 py-5">
                        {%load plotly_dash %}
                        {% plotly_app name='price' %}
                    <div class="card text-center">

                            {#                        {%load plotly_dash %}#}

                            <div class="alert light_blue" role="alert">
                                <strong>{{data.symbol}} </strong>
                            </div>




                        <div>  {{candlestick | safe}} </div>
{#                        <br>#}
{#                        <br>#}
{#                        <div>  {{plotly_slider | safe}} </div>#}
{#                        <br>#}
{#                        <br>#}
{#                        <div>  {{plotly | safe}} </div>#}
{#                        <br>#}
{#                        <br>#}
{#                        <div>  {{compare_stock | safe}} </div>#}
                    </div>
                </div>


            </div>
        {% endif %}
    </div>

{%endblock%}