{% extends 'base.html' %}
{% load static %}

{% block title %}{{symbol}} {{stock_data.high}}{% endblock %}




{% block content %}
    <div class="container-fluid">
        {% include 'home/nav/stock_nav.html'%}
    </div>
    <div class="container-fluid">
        {% include 'home/nav/daily_nav.html'%}
    </div>
    <div class="container">
        <br>
        <h1>{{ symbol }}</h1>
        <br>
        {%load plotly_dash %}
        {% plotly_app name='price' %}
        <br>
        <br>
        {{ area_1_day_candlestick | safe }}
    </div>
    <style>
        .light_blue{
            background-color: #26ff00;
        }
    </style>

{% endblock %}