{#{% load static %}#}
{% url 'home:stock_analysis' symbol 30 as days_30 %}
{% url 'home:stock_analysis' symbol 92 as days_92 %}
{% url 'home:stock_analysis' symbol 150 as days_150 %}
<style>
    .periods{
        {#color:#ffffff;#}
        margin-left:5px
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light">
    {#  <a class="navbar-brand" href="#"><img class="nav-img" src="{% static '/img/CryptoCrow.png' %}"></a>#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">Navigation Toggle</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active ml-auto">
                {#        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link periods {% if request.get_full_path == days_30 %}active{% endif %}" href="{% url 'home:stock_analysis' symbol 30 %}" >30 Days</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link periods {% if request.get_full_path == days_92 %}active{% endif %}" href="{% url 'home:stock_analysis' symbol 92 %}" >3 Months</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link periods {% if request.get_full_path == days_150 %}active{% endif %}" href="{% url 'home:stock_analysis' symbol 150 %}" >5 Months</a>
            </li>


        </ul>
    </div>
</nav>