{% load static %}
{#{% include 'base.html' %}#}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<link href="{% static 'css/login_styling.css' %}" rel="stylesheet" type="text/css">
<style>
    #formTop{
        padding-left: 5%;
        background-color: #3e3d3d;
    }
    body{
        background-color: #3e3d3d;
    }
    .fadeIn{
        background-color: #3e3d3d;
    }
    .fadeInDown{
        background-color: #3e3d3d;
    }

</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div id="formTop" class="container-fluid">
    <br>
    <a href="{% url 'absolute_home' %}"><strong>return to the main page</strong></a>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent" class="formContent">

        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'stock/img/stock_advisor.png' %}" id="icon" alt="User Icon" />

        </div>
        <!-- Login Form -->
        <form action="" method="post">
            {#            {% if form.error_messages %}#}
            {#                <div class="container alert alert-danger alert-dismissible fade show" role="alert">#}
            {#                    <ul>#}
            {#                    {% for error in form.error_messages %}#}
            {#                        <li>{{ error }}</li>#}
            {#                    {% endfor %}#}
            {#                    </ul>#}
            {#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
            {#                        <span aria-hidden="true">&times;</span>#}
            {#                    </button>#}
            {#                </div>#}
            {#            {% endif %}#}
            {% if message_error %}
                <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message_error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {#            <input type="text" id="login" class="fadeIn second" name="login" autocomplete="off" placeholder="login">#}
            {#            <input type="text" id="password" class="fadeIn third" name="login" autocomplete="off" placeholder="password">#}
            {% csrf_token %}
            {{ form.first_name }}
            <br>
            {{ form.last_name }}
            <br>
            {{ form.username }}
            <br>
            {{ form.email }}
            <br>
            {{ form.password1 }}
            <br>
            {{ form.password2 }}
            <br>
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            if you already have an account , <a href="{% url 'login' %}"><strong>Login</strong></a> instead.
        </div>
    </div>
</div>
</body>

<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Firstname..';
    form_fields[2].placeholder='Lastname..';
    form_fields[3].placeholder='Username..';
    form_fields[4].placeholder='Email..';
    form_fields[5].placeholder='Enter password...';
    form_fields[6].placeholder='Re-enter Password...';
</script>