{% extends 'base.html' %}
{% load static %}

{% block title %} My Activities for {{ portfolio.name }}{% endblock %}


{% block content %}
<div class="container-fluid">
{#    {% if not error_activity_message %}#}
        <h2>My all activity statistics</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {% if gain %}
                        <div style="color:green">
                            <div>
                                profit: {{ profits }}
                                <i class="fas fa-arrow-alt-circle-up"></i>
                            </div>
                            gross profit percentage: {{ gain }}%
                            <i class="fas fa-arrow-alt-circle-up"></i><Br>
                            net profit percentage: {{ gain_profit_percentage }}%
                            <i class="fas fa-arrow-alt-circle-up"></i>
                        </div>
                    {% endif %}
                    {% if loss %}
                        <div style="color:red">
                            <div>
                                profit: {{ profits }}
                                <i class="fas fa-arrow-alt-circle-down"></i>
                            </div>
                            gross profit percentage: {{ loss }}%
                            <i class="fas fa-arrow-alt-circle-down"></i><br>
                            net profit percentage: {{ loss_profit_percentage }}%
                            <i class="fas fa-arrow-alt-circle-down"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <span>total number of stocks: {{ total_stocks }}</span><br>
                    <span>total buys: {{ total_buys }}</span><br>
                    <span>total sales: {{ total_sales }}</span><br>
                </div>
                <div class="col-sm">
                    <span>average stock cost: {{ average_stock_cost }}</span><br>
                    <span>average stock sale: {{ average_stock_sale }}</span><br>
                    <span>portfolios with activities: {{ portfolios_with_activities }} out of {{ portfolios_len }}</span><br>
                </div>
            </div>
        </div>
{#    {% endif %}#}
</div>
{% endblock %}