{% extends 'base_no_jquery.html' %}
{% load static %}

{% block title %} My all transaction statistics {% endblock %}


{% block content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <div class="container-fluid">
        <h2>My all transaction statistics</h2>
        {% if error_activity_message %}
            <br>
            <div class="container alert alert-danger alert-dismissible fade show" role="alert">
                {{ error_activity_message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% else %}
                <div class="container" style="overflow: auto">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            {#                    <div class="card rounded shadow-lg m-2" style="width: 25rem; height: 560px; overflow: hidden;">#}
                            <div class="card rounded shadow-lg m-2" style="height: 150px; width: 20rem; padding: 10px">
                                {% if gain %}
                                    <div style="color:green">
                                        <div>
                                            profit: {{ profits }}
                                            <i class="fas fa-arrow-alt-circle-up"></i>
                                        </div><br>
                                        gross profit percentage: {{ gain }}%
                                        <i class="fas fa-arrow-alt-circle-up"></i><Br><br>
                                        net profit percentage: {{ gain_profit_percentage }}%
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                    </div>
                                {% endif %}
                                {% if loss %}
                                    <div style="color:red">
                                        <div>
                                            profit: {{ profits }}
                                            <i class="fas fa-arrow-alt-circle-down"></i>
                                        </div><br>
                                        gross profit percentage: {{ loss }}%
                                        <i class="fas fa-arrow-alt-circle-down"></i><br><br>
                                        net profit percentage: {{ loss_profit_percentage }}%
                                        <i class="fas fa-arrow-alt-circle-down"></i>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card rounded shadow-lg m-2" style="height: 150px; width: 20rem; padding: 10px">
                                <span>total number of stocks: {{ total_stocks }}</span><br>
                                <span>total buys: {{ total_buys }}</span><br>
                                <span>total sales: {{ total_sales }}</span><br>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card rounded shadow-lg m-2" style="height: 150px; width: 20rem; padding: 10px">
                                <span>average stock cost: {{ average_stock_cost }}</span><br>
                                <span>average stock sale: {{ average_stock_sale }}</span><br>
                                <span>portfolios with activities: {{ portfolios_with_activities }} out of {{ portfolios_len }}</span><br>
                            </div>
                        </div>
                    </div>

                </div>
            <br>
                <div center style="overflow: auto">
                    {{ fig1_div | safe }}
                </div>

{#            <div style="overflow: auto">#}
                <table id="table_activity_stats" class="table table-bordered table-responsive" >
                    <thead>
                    <tr>
                        <th>portfolio</th>
                        <th>portfolio stock</th>
                        <th>total stocks</th>
                        <th>buys per portfolio</th>
                        <th>sales per portfolio</th>
                        <th>profits per portfolio</th>
                        <th>profits percentage</th>
                    </tr>
                    </thead>
            {#        <tfoot>#}
            {#        <tr>#}
            {#            <th>portfolio</th>#}
            {#            <th>portfolio stock</th>#}
            {#            <th>total stocks</th>#}
            {#            <th>buys per portfolio</th>#}
            {#            <th>sales per portfolio</th>#}
            {#        </tr>#}
            {#        </tfoot>#}
                    <tbody>
                    {% for row in data %}
                        <tr>
                            <td>
                                {{row.portfolio}}
                            </td>
                            <td>
                                {{row.portfolio_stock}}
                            </td>
                            <td>
                                {{row.total_stocks}}
                            </td>
                            <td>
                                {{row.total_buys}}
                            </td>
                            <td>
                                {{row.total_sales}}
                            </td>
                            {% if row.profit >= 0 %}
                                <td>
                                    <span style="color:green;">
                                        {{row.profit}}
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                    </span>
                                </td>
                                <td>
                                    <span style="color:green;">
                                        {{ row.profit_percentage }}%
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                    </span>
                                </td>
                            {% else %}
                                <td>
                                    <span style="color:red;">
                                        {{row.profit}}
                                        <i class="fas fa-arrow-alt-circle-down"></i>
                                    </span>
                                </td>
                                <td>
                                    <span style="color:red;">
                                        {{ row.profit_percentage }}%
                                        <i class="fas fa-arrow-alt-circle-down"></i>
                                    </span>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
{#            </div>#}
        {#    {% endif %}#}
        </div>
        {% endif %}
        <!--Import jQuery before export.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!--Data Table-->
        <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

        <!--Export table buttons-->
        <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
        <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#table_activity_stats').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );
    </script>
{% endblock %}